*.class
*.jar
/.lein-*
/.nrepl-port
/.repl
/checkouts/
/classes/
/lib/
/log/
/out/
/bin/
/resources/public/js/compiled/**
/target/
figwheel_server.log
pom.xml
pom.xml.asc
.settings/ccw.repl.cmdhistory.prefs
src/cljs/clojure_rest/fake_data.cljs
